.bodyBox {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #2B1149;
	color: #fff
}

.backBox {
	width: 84%;
	padding: 3% 8% 1% 8%;
	background-color: #2B1149;
	color: #fff;
	border-bottom: 1px solid #DF9DDF
}

.headBox {
	margin-top: -1%;
	font-size: 45px;
	color: #fff;
	width: 100%;
	font-family: Impact, Charcoal, sans-serif;
}

.menuItems {
	cursor: pointer;
	padding: 0 0 0 40px;
	font-weight: bolder;
}
.menuNowItem{
	cursor: pointer;
	padding: 0 0 0 40px;
	font-weight: bolder;
	color: #D06DD0;
}

.firstLine {
	width: calc(100% - 50px);
	margin-bottom: 40px;
	background-color: #fff;
	color: #2B1149;
	padding: 8px
}

.otherLine {
	width: calc(100% - 50px);
	margin: 50px 0 40px 0;
	background-color: #fff;
	color: #2B1149;
	padding: 8px
}

.lineItems {
	height: 245px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 40px;
	color: #D06DD0;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	position: relative;
}

.itemsTitle {
	font-size: 40px;
	color: #D06DD0;
	width: 100%;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	position: absolute;
	bottom: 5px;
}

.itemText {
	margin: 20px 0 10px 0;
	text-align: center;
	font-family: Georgia, serif;
	font-weight: bold;
	height: 200px;
	overflow-y: auto;
}

.tdBox {
	width: 33%;
	color: #fff;
	vertical-align: top;
}

.tableBox {
	width: 100%;
	border-collapse: collapse;

}
